

/* Hide small about section on larger screens */
.about-section-small {
  display: none;
}

/* About Section Typewriter Effect */
.css-typing p {
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
  width: 100%;
}
.css-typing p:nth-child(1) {
  -webkit-animation: type 5s steps(40, end);
  animation: type 5s steps(40, end);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  opacity: 0;
  -webkit-animation: type2 5s steps(40, end);
  animation: type2 5s steps(40, end);
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  opacity: 0;
  -webkit-animation: type3 5s steps(40, end);
  animation: type3 5s steps(40, end);
  -webkit-animation-delay: 12s;
  animation-delay: 12s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  opacity: 0;
  -webkit-animation: type4 5s steps(40, end);
  animation: type3 5s steps(40, end);
  -webkit-animation-delay: 17s;
  animation-delay: 17s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(5) {
  width: 100%;
  opacity: 0;
  -webkit-animation: type5 5s steps(40, end);
  animation: type3 5s steps(40, end);
  -webkit-animation-delay: 21s;
  animation-delay: 21s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(6) {
  opacity: 0;
  -webkit-animation: type6 5s steps(40, end);
  animation: type3 5s steps(40, end);
  -webkit-animation-delay: 26s;
  animation-delay: 26s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type4 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type4 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes type5 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type5 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


@keyframes type6 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type6 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

