@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

body, h1,h2,h3,h4,h5,h6 {
  font-family: 'Yomogi', cursive;
}

body {
  font-size: 18px;
  color: #F0FFFF;
}

.w3-row-padding img {
  margin-bottom: 12px;
}

/* Set the width of the sidebar to 120px */
.w3-sidebar {
  width: 120px;background: #222;
}


/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {
  margin-left: 120px;
}

img.nav-bar-img {
  width: 100%;
  opacity: 0.5;
}

img.w3-image.my-image:hover {
  transform: scaleX(-1);
}

.w3-image.my-image {
  border-radius: 5px;
}

/*************** Media Queries *************/

/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
  #main {
    margin-left: 0;
  }
}

/* Add some padding to "main content" on screens smaller than 1100px */
@media only screen and (max-width: 1100px) {
  #main {
    padding: 10px;
  }
}
   
/* Reduce testimonials image size for smaller screens */
@media only screen and (max-width: 600px) {
  img.w3-left.w3-circle.w3-margin-right {
    width: 60px;
  }
}
